<!DOCTYPE html>
<html>
  <head>
    <title>BebeChat</title>
    <script>
      window.userId = "<%= current_user %>"
    </script>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <%= audio_tag asset_path('beep.wav'), id: 'audio-beep' %>
    <%= audio_tag asset_path('buzz.mp3'), id: 'audio-buzz' %>
    <%= audio_tag asset_path('bebe_voice.mp3'), id: 'audio-bebe-voice' %>
    <%= audio_tag asset_path('thapbui_voice.wav'), id: 'audio-thapbui-voice' %>
    <div id='main'>
    </div>
    <%= yield %>

  </body>
</html>
